* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.con-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/music-playlist/music-playlist-Edsheeran-bg.png');
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px;
  align-items: flex-start;
  background-size: cover;
}
.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: bold;
}
.para {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
}
.con-2 {
  background-color: #152850;
  padding: 20px;
  min-height: 60vh;
  overflow-y: auto;
}
.sub-heading {
  color: #ffffff;
  font-size: 27px;
  font-family: 'Roboto';
}
.header-con {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
}
.search {
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 4px;
  color: #ffffff;
}
.icon {
  color: #ffffff;
  margin-right: 3px;
}
.list-element {
  padding-left: 0px;
  list-style-type: none;
}
.no-results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 60vh;
  justify-content: center;
}
.no-results-para {
  color: #ffffff;
  font-size: 40px;
  font-family: 'Roboto';
}
